@model LOG.PropznetCRM.Data.ViewModel.User.RecoverPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="">
    <div class="login-form">
            <h3 class="login-form-header-title">Forgot Password</h3>
            <div class="login-wrap">
                <h3>Enter the email id you provided when you registered on propznetcrm. a password will be sent on your registered email id.</h3>
                @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post))
                {
                        <div class="form-group">
                            <label for="text" class="text-size" style="color:#fff;">Email</label>
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @placeholder = "Enter your email" })
                            @Html.ValidationMessageFor(model =>model.Email)
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary top-mar " value="Recover" />
                            <div class="validation-summary-errors" style="background:white;">@ViewBag.Message</div>
                        </div>
                }
            </div>
    </div>
</div>