@model LOG.PropznetCRM.Data.ViewModel.FullCalenderViewModel
<link href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<div id='calendar' style="width:100%"></div>
<div class="modal fade" id="popupEventForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4>Add new event</h4></div>
            <div class="modal-body">
                <form id="EventForm" class="well">
                    <input type="hidden" id="eventID">
                    <label>Event title</label>
                    <input type="text" id="eventTitle" data-bind="value:eventTitle" placeholder="Title here" class="form-control"><br />
                    <label>Scheduled date</label>
                    <input type="text" id="eventDate" data-bind="value:eventDate" class="form-control"><br />
                    <label>Scheduled time</label>
                    <input type="text" id="eventTime" data-bind="value:eventTime" class="form-control" placeholder="00:00"><br />
                    <label>Appointment length (minutes)</label>
                    <input type="text" id="eventDuration" placeholder="15" data-bind="value:eventDuration" class="form-control"><br />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancel</button>
                <button type="button" id="btnPopupSave" data-bind="click:save,visible:isCreate" data-dismiss="modal" class="btn btn-primary">Save event</button>
                <button type="button" id="btnPopupUpdate" data-bind="click:update,visible:isUpdate" data-dismiss="modal" class="btn btn-primary">Update event</button>
            </div>
        </div>
    </div>   
</div>
<div class="modal fade" id="OpertationDiv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content clearfix">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Calender Operations</h4>
            </div>
            <div class="modal-body">

                <div class="btn-group col-md-8 row">
                    <div class="col-md-4 row">
                        <button class="btn btn-primary" id="btnEdit" data-bind="click:edit">Edit</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-primary" id="btnDelete" data-bind="click:eventdelete">Delete</button>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                        </div>

            </div>

        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var vm = new FullCalendarViewModel();
            ko.applyBindings(vm);
            vm.init('@Model.EntityType','@Model.Id');
        });
    </script>
}