@{
    Layout = null;
    ViewBag.Title = "No Permission";
}

<link href="~/Content/css/Site.css" rel="stylesheet" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />

<div class="container text-center text-danger marT-xlg">
    <i class="fa fa-ban fa-5x"></i>
    <h2>Sorry, requested resource not found.</h2>
</div>

