<div class="col-md-12 m-top20">
    <h2>Full Calendar</h2>
</div>
    <div id="calendar"></div>
    <div class="modal fade" id="myModaled" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Calender Operations</h4>
                </div>
                <div class="modal-body">

                    <div class="btn-group">
                        <button class="btn btn-primary" id="btnEdit">Edit</button>
                        <button class="btn btn-primary" id="btnDelete">Delete</button>
                        <button class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />

                </div>

            </div>
        </div>
    </div>
    @section scripts{
        <script src="~/App/ViewModels/CRM/models.js"></script>
        <script src="~/App/ViewModels/FullCalander/FullCalendarViewModel.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                var vm = new FullCalendarViewModel();
                ko.applyBindings(vm);
                vm.init();
            });
        </script>
    }
