@using CRMLite.Infrastructure
@using CRMLite.Infrastructure.Enum
<div class="">
    <div class="col-md-6 row">
        <div class="col-md-12 m-top20">
            <h3 class="inline-b">Manage Contacts</h3>
        </div>
    </div>

    <div class="btn-right pull-right">
        @if (@PermissionChecker.CheckPermission(ViewBag.UserPermissions, PermissionCodes.ManageContact))
        {
            <button type="button" class="btn btn-primary" data-bind="click:clear" data-toggle="modal" data-target="#CreateContact"><i class="fa fa-plus"></i> Contact</button>
        }
    </div>

    <div class="clearfix"></div>
    <div class="bdr marB-md pad-sm clearfix">
        <div class="col-md-4">
            <div class="row">
                <input type="text" class="form-control" placeholder="Search by Title" data-bind="value:SearchTitle" />
            </div>
        </div>
        <div class="col-md-3">
            <select data-bind="options: $root.Account ,optionsText: 'Name', optionsValue: 'Id', value:SearchAccount, optionsCaption:'Select Account'" class="form-control"></select>
        </div>
        <div class="col-md-4">
            <select data-bind="options: $root.User ,optionsText: 'Name', optionsValue: 'Id', value:SearchUser, optionsCaption:'Assigned To'" class="form-control"></select>
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-primary f-width" data-bind="click:search"><i class="fa fa-search"></i> Search</button>
        </div>
    </div>
    <div class="clearfix"></div>
    <table class="table table-striped table-bordered table-responsive table-hover" data-toggle="table" id="pagination" data-url="data2.json" data-pagination="true" data-search="true">
        <thead class="bg-grey">
            <tr>
                <th class="text-center">Contact No </th>
                <th class="text-center">First Name </th>
                <th class="text-center">Last Name </th>
                <th class="text-center">Title</th>
                <th class="text-center">Related To</th>
                <th class="text-center">Email </th>
                <th class="text-center">Phone</th>
                <th class="text-center">Assigned To</th>
                <th class="text-center"> Actions </th>
            </tr>
        </thead>
        <tbody data-bind='foreach:$root.ContactLists'>
            <tr>
                <td><span data-bind="text: RefId"> </span></td>
                <td><span data-bind="text: FirstName"> </span></td>
                <td><span data-bind="text: LastName"> </span></td>
                <td><span data-bind="text: Title"> </span></td>
                <td><span data-bind="text: AccountName"> </span></td>
                <td><span data-bind="text: Email"> </span></td>
                <td><span data-bind="text: Phone"> </span></td>
                <td><span data-bind="text: AssignedTo"> </span></td>
                <td>
                    <a href="#" data-bind="click:$root.contactdetails" data-toggle="modal" data-target="#Details"><i class="fa fa-lg fa-info-circle " data-toggle="tooltip" data-placement="top" title="Details" data-original-title="Details"></i></a>&nbsp;&nbsp;
                    @if (@PermissionChecker.CheckPermission(ViewBag.UserPermissions, PermissionCodes.ManageContact))
                    {
                        <a href="#" data-bind="click:$root.ToDo"><i class="fa fa-lg fa-calendar " data-toggle="tooltip" data-placement="top" title="To Do" data-original-title="To Do"></i></a>@:&nbsp;&nbsp;
                        <a href="#" data-bind="click:$root.contactedit" data-toggle="modal" data-target="#CreateContact"><i class="fa fa-lg fa-pencil-square-o " data-toggle="tooltip" data-placement="top" title="Edit" data-original-title="Edit"></i></a>@:&nbsp;&nbsp;
                        <a href="#" data-bind="click:$root.contactdelete"><i class="fa fa-lg fa-trash-o" data-toggle="tooltip" data-placement="top" title="Delete" data-original-title="Delete"></i></a>
                    }
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="CreateContact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <strong><span data-bind="text:DisplayTitle"></span></strong>
            </div>
            <div class="modal-body clearfix" data-bind="with:SelectedContact">
                <div class="col-lg-12 bdr">
                    <div class="col-md-6">

                        <div class="form-group ">
                            <label>First Name</label>
                            <input type="text" data-bind="value:FirstName" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Last Name</label>
                            <input type="text" data-bind="value:LastName" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" data-bind="value:Title" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Address</label>
                            <textarea data-bind="value:Address" class=" form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="text" data-bind="value:Email" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" data-bind="value:Phone,numericOnly:true" class=" form-control" />
                        </div>
                        <div class="form-group">
                            <label>Related To</label>
                            <select data-bind="options: $root.Account ,optionsText: 'Name', optionsValue: 'Id', value:AccountId, optionsCaption:'Select Account'" class="form-control"></select>
                        </div>
                        <div class="form-group">
                            <label>Assigned To</label>
                            <select data-bind="options: $root.User ,optionsText: 'Name', optionsValue: 'Id', value:UserId" class="form-control"></select>
                        </div>
                    </div>
                </div>
                <h4 class="text-primary">Other</h4>
                <div class="col-lg-12 bdr">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label>Comments</label>
                            <textarea data-bind="value:Comments" class=" form-control" rows="6"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-md-12">
                    <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bind="click:$root.saveContact,visible:isCreate">Save</button>
                    <button type="button" class="btn btn-primary" data-bind="click:$root.updateContact,visible:isUpdate">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="Details" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <strong>Contact Details</strong>
            </div>
            <div class="modal-body clearfix" data-bind="with:SelectedContact">

                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <label class="lblwidth"><b>First Name</b>&nbsp;</label>
                            <span data-bind="text:FirstName"></span>
                        </div>
                        <div class="form-group">
                            <label class="lblwidth"><b>Last Name</b>&nbsp;</label>
                            <span data-bind="text:LastName"></span>
                        </div>
                        <div class="form-group">
                            <label class="lblwidth"><b>Title</b>&nbsp;</label>
                            <span data-bind="text:Title"></span>
                        </div>
                        <div class="form-group">
                            <label class="lblwidth"><b>Email</b>&nbsp;</label>
                            <span data-bind="text:Email"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="form-group">
                            <label class="lblwidth"><b>Phone</b>&nbsp;</label>
                            <span data-bind="text:Phone"></span>
                        </div>
                        <div class="form-group">
                            <label class="lblwidth"><b>Assigned To</b>&nbsp;</label>
                            <span data-bind="text:AssignedTo"></span>
                        </div>
                        <div class="form-group">
                            <label class="lblwidth"><b>Related To</b>&nbsp;</label>
                            <span data-bind="text:AccountName"></span>
                        </div>
                        <div class="form-group">
                            <label class="lblwidth"><b>Addess</b>&nbsp;</label>
                            <span data-bind="text:Address"></span>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
<script src="~/App/ViewModels/CRM/models.js"></script>
<script src="~/App/ViewModels/Contact/ContactViewModel.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var vm = new ContactViewModel();
            ko.applyBindings(vm);
            vm.init();
        });
    </script>
}